body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-image: url("../static/images/bruxelles_disque_jade_xuanji.jpg");
    background-size:cover;
  }
  
  header {
    padding: 0px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items:center;
    background-color: lightgoldenrodyellow;
  }
  
  header h1 {
    font-weight: 800;
    margin: 40px;
    font-size: large;
    padding-top: 20px;
  }
  
  header p {
    padding: 0 20px;
    margin: 0;
  }
  
  section .row img {
    margin: 20px 0 30px;
    width: 100%;
    margin-top: 10px;
  }
  
  section .row p{
    text-align: center;
    color: black;
    text-shadow: 0.25px 0.25px 0.25px lightblue;
    font-size: large;
    margin-top: 30px;
  }

  section .row #ran-art, #ran-fort {
    color: white;
  }

  section .row h4 {
    text-align: center;
    color: white;
  }
  
  section .row h3{
    color: white;
    text-shadow: 0.25px 0.25px 0.25px lightblue;
    text-align: center;
    margin-top: 20px;
  }
  
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .button-clicker {
    text-align: center;
  }

  .artist-display, .credit-line {
    min-height: 150px;
    background-color: gainsboro;
    border: 5px solid #423ab8;
    padding:10px;
    margin: 60px;
   
 }

 .art-book {
    min-height: 390px;
    background-color: gainsboro;
    border: 5px solid #3ab89d;
    padding:10px;
    margin: 60px;
 }
 
 #clicker {
    fill: aqua;
    background-color: aliceblue;
    border-radius: 10px;
    border-color: aqua;
 }

 #generate {
    margin-top: 100px;
 }

 #clear {
    margin-top: 100px;
 }

 #reset{
    border-radius: 10px;
    border-color: aqua;
 }

  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('../static/images/pyxis_with_lid_agora.jpg');
    background-size: cover;
    color: #ffffff;
    height: 300px;
  }
  
  
  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }